# --- Turborepo & Build Cache ---
.turbo
node_modules
dist
.next
out
build

# --- Package Managers ---
.pnpm-debug.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

# --- Environment & Secrets ---
.env
.env.*
!.env.example
.vercel

# --- Shared Packages ---
/packages/*/dist
/packages/*/node_modules

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Testing ---
/coverage
/.nyc_output

# --- Mercado Pago ---
mp.info
