version: '3.8'
services:
  redis:
    image: 'redis:8.4.0-alpine'
    ports:
      - '6379:6379'
  postgres:
    image: 'postgres:18.1-alpine'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}


