version: '3.8'
services:
  redis:
    environment:
      TZ: America/Sao_Paulo
    container_name: redis
    image: 'redis:8.4.0-alpine'
    ports:
      - '6379:6379'
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
  postgres:
    container_name: postgres
    image: 'postgres:18.1-alpine'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: America/Sao_Paulo
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro  


